body {
  background-color: #f9f7fd;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
ul {
  padding-left: 0;
}
.search-form {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
}
.search-input {
  color: rgba(39, 33, 66, 0.4);
}
.form-control {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;

  display: inline-block;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}

.btn {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}
.weather-info {
  margin-top: 20px;
}

.weather-app {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}

.name {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}

.weather {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
  margin-left: 0;
}

.weather-row {
  margin-top: 10px;
  align-items: center;
}
.temprature-container {
  margin-top: 30px;

  text-align: right;
}
.temprature {
  font-size: 80px;
  font-weight: 500;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.d-flex {
  display: flex !important;
}
.unit {
  position: relative;
  top: -34px;
  font-size: 28px;
  font-weight: 400;
}
.utemp {
  text-decoration: none;
  color: #272142;
  font-size: 26px;
}
.image {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pink {
  color: #f75281;
}
.condition {
  text-transform: capitalize;
}
.weather-forecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-bottom: 50px;

  text-align: center;
}
.forecast-day {
  color: rgba(39, 33, 66, 0.4);
}
.col-width {
  width: 123.2px;
}
.forecast-img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 31;
  margin-right: 31;
}
.forecast-temp {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.forecast-temp-min {
  opacity: 0.6;
  margin-left: 10px;
}
.ref {
  text-align: center;
}
.link {
  color: #885df1;
  text-decoration-color: #885df1;
}
