body {
  background-color: #f9f7fd;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
ul {
  padding-left: 0;
}
.search-form {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
}
.form-control {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}

.btn {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}
.weather-info {
  margin-top: 20px;
}

.weather-app {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}

.name {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}

.weather {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
  margin-left: 0;
}

.weather-row {
  margin-top: 10px;
  align-items: center;
}
.temprature-container {
  margin-top: 30px;

  text-align: right;
}
.temprature {
  font-size: 80px;
  font-weight: 500;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.d-flex {
  display: flex !important;
}
.unit {
  position: relative;
  top: -34px;
  font-size: 28px;
  font-weight: 400;
}
.image {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pink {
  color: #f75281;
}
.condition {
  text-transform: capitalize;
}
